@font-face { font-family: H67; src: url('./fonts/H67.otf') format('opentype'); font-weight: bold; font-style: normal; }
@font-face { font-family: H77; src: url('./fonts/H77.otf') format('opentype'); font-weight: bold; font-style: normal; }

body, html, .all { margin: 0; padding: 0; } body, a, a:active, a:visited, a:link { font-family: Arial; font-size: 13px; text-decoration: none; } a, a:active, a:visited, a:link { cursor: pointer; font-weight: bold; } p { margin: 0; padding: 0; } .pddInner { padding: 0 20px; text-align: left; } hr { width: 100%; height: 14px; padding: 0; margin: 20px auto; border: 0; background: transparent url('../imgs/separator.png') no-repeat center top; } .faceIndex { overflow: hidden; min-height: 200px; background: transparent; margin: 15px auto; } p.cbold { font-weight: bold; text-align: center; width: 100%; padding: 10px 0; text-transform: uppercase; } .rmsg { display: table; width: 444px; margin: 0 auto 20px auto; padding: 10px; background: #108c00; text-align: center; color: #fff; font-size: 14px; } .rmsg.error { background-color: #b30000 !important; } .rmsg.warn { background-color: #fffca1 !important; color: #000 !important; } .rmsg.warn b { color: #000 !important; } #alerta { visibility: hidden; position: fixed; display: table; z-index: 1001; margin: 0 auto; padding: 25px 30px; color: #5a5a5a; font-size: 15px; background: #f7f7f7; border-radius: 6px; } #alerta .ok { display: table; width: 100%; } #alerta .ok > div { font-size: 12px; font-weight: bold; cursor: pointer; display: table; float: right; margin: 15px 0 0 0; padding: 5px 0; text-align: center; width: 60px; text-transform: uppercase; color: #fff; background: #ac0f0f; border: 1px solid #ac0f0f; box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset; border-radius: 4px; } #alerta .ok > div:hover { background: #d21818; border-color: #d21818; } #alerta .ok.sucesso > div { background: #0dbb00; border: 1px solid #0dbb00; } #alerta .ok.sucesso > div:hover { background: #0a8c00; border: 1px solid #0a8c00; } #alerta b { color: #000 !important; } #backblack { height: 100%; width: 100%; position: fixed; top: 0; left: 0; background: #000; opacity: 0.8; z-index: 1000; } input.default.sucesso { background: #0dbb00 !important; border-color: #0dbb00 !important; color: #fff !important; }
body, html, .all { min-width: 1200px; }
body { background: url('../imgs/bg-top.jpg') no-repeat center top, url('../imgs/bg-bot.jpg') no-repeat center bottom; background-color: #030242; color: #e6e6e7; }
b { color: rgba(255,255,255,0.8); }
a, a:active, a:visited, a:link { color: #ffe081; }
a:hover { color: #fffbca; }
a:active { color: #fff; }

article a { color: #ebab22 !important; }
article a:hover { color: #ffee5e !important; }
article a:active { color: #fff !important; }

article a.default, a.default, span.default, input.default, .rankings_options > div a { transition: background-color 0.4s, border-color 0.4s; cursor: pointer; display: block; text-align: center; font-weight: bold; font-size: 15px; text-transform: uppercase; padding: 6px 0 5px 0; width: 178px; margin: 0 0 1px; box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset; font-family: H77, Arial; font-weight: bold; text-transform: uppercase; }
article a.default:active, a.default:active, input.default:active, span.default:active { opacity: 0.7; }
a.default.dbig, input.default.dbig { font-size: 16px; padding: 12px 35px 13px 35px; display: table; width: auto !important; }
article a.default, a.default, span.default, input.default, .rankings_options > div a { background: #e6731e; background: -moz-linear-gradient(top, #ffb523 0%, #e6731e 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb523), color-stop(100%,#e6731e)); color: #fff !important; border: 0; }
article a.default:hover, a.default:hover, input.default:hover, span.default:hover, .rankings_options > div a:hover { background: #ffd539; color: #fff !important; }

.rmsg.warn a { color: #17157e !important; }

.all { width: 1200px; position: relative; display: table; margin: 0 auto; padding-top: 677px; }

h1, h2 { display: block; color: #fff; font-family: H67, Arial; font-weight: bold; text-transform: uppercase; width: 100%; box-sizing: border-box; padding: 0; }
h1 { font-size: 26px; margin: 40px auto 30px; padding: 0 0 0 34px; }
h2 { font-size: 20px; margin: 30px 0 20px 0; }

#fanback { background: transparent url("../imgs/nm/fanbg.png") repeat; display: none; height: 100%; top: 0; left: 0; position: fixed; width: 100%; z-index: 99999; } #fan-exit { height: 100%; width: 100%; } #fanbox { background: #fff; border-radius: 5px; left: 50%; margin: -123px 0 0 -210px; position: absolute; top: 50%; width: 420px; } #fanbox > iframe { border: none; overflow: hidden; margin: 8px 0 0 8px; width: 402px; height: 230px; } #fanclose { background: transparent url("../imgs/nm/fanclose.png") repeat scroll 0 0; cursor: pointer; float: right; height: 15px; right: -22px; top: -20px; padding: 20px 40px 20px 20px; position: absolute; } #fanclose:hover { background-position: 0 -56px; } 

nav { position: absolute; left: -12px; top: 4px; z-index: 3; height: 50px; padding: 0; box-sizing: border-box; display: table; border: 0; margin: 0; border-right: 1px solid #28274d; }
nav > * { cursor: pointer; float: left; position: relative; display: table; padding: 0 25px; box-sizing: border-box; background: #1c1b43; height: 50px; line-height: 50px; z-index: 4; border: 0; margin: 0; border-left: 1px solid #28274d; border-right: 1px solid #111028; box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset; font-family: H67, Calibri, Arial !important; font-size: 18px !important; font-weight: bold !important; color: #fff !important; text-transform: uppercase; text-align: center; }
nav > *:hover { z-index: 999 !important; background: #2c2b50; border-left: 1px solid #28274d; border-right: 1px solid #111028; box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset; }
nav > *.o1 { width: 143px; padding: 0 0 0 50px; background: transparent url('../imgs/menu-opt1.png') no-repeat 0 0; border-left: 0; box-shadow: none; }
nav > *.o1:hover { background-position: 0 -52px; }
nav a:active { opacity: 0.6; }
nav > span { cursor: default; position: relative; z-index: 5; }
nav > span > div { transition: opacity 0.4s; opacity: 0; position: absolute; top: 50px; display: block; width: 1px; height: 1px; overflow: hidden; background: transparent; padding: 0; box-shadow: 5px 5px 5px rgba(0,0,0,0.4); }
nav > span > div > a { background: #4b4b6a; border: 1px solid #4b4b6a; color: rgba(255,255,255,0.7) !important; display: block; text-align: center; text-transform: uppercase; width: 100%; height: 28px; line-height: 28px; font-size: 11px !important; padding: 0 10px; box-sizing: border-box; border-radius: 1px; margin: 0 0 2px 0; box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset; }
nav > span > div > a:hover { background: #ff8b2f; color: #fff !important; }
nav > span.o2 > div { left: -29px; }
nav > span.o4 > div { left: -42px; }
nav > span:hover > div { background: #2c2b50; opacity: 1; width: 160px; height: auto; padding: 5px 5px 3px; }
nav > span:hover > div > a { display: block; }

.forum-button,
a.forum-button > span,
.loginarea .avatar span,
.loginarea label > span,
.loginarea .gologin,
.loginarea .user .opts > a,
.top-detail,
.langs,
.select-world,
.select-world > span,
.dual-buttons > a,
.dual-buttons > a > span,
.players-online,
footer .copyright .logo,
.banners > div > a,
.news a.morenews,
aside .box .title,
aside .box a.moreranks,
.news > div a.titlen,
.news > div .finalinfo .datan,
.news > div .finalinfo a.lermaisn,
.news > div a.imgn div,
.news > div .finalinfo .detail
{ background: transparent url('../imgs/css-sprites.png') no-repeat; }

a.forum-button, a.forum-button > span { display: block; width: 191px; height: 38px; }
a.forum-button { position: absolute; top: 10px; left: 631px; background-position: 0 0; }
a.forum-button > span { background-position: 0 -40px; opacity: 0; transition: opacity 0.4s; }
a.forum-button:hover > span { opacity: 1; }
a.forum-button:active { opacity: 0.8; }

.loginarea { width: 358px; height: 83px; position: absolute; top: 18px; right: 13px; }
.loginarea .avatar { float: left; }
.loginarea .avatar, .loginarea .avatar span { width: 97px; height: 83px; box-sizing: border-box; padding: 1px 0 0 8px; }
.loginarea .avatar span { position: absolute; top: 0; left: 0; background-position: -308px -73px; }
.loginarea .avatar img { width: 80px; height: 80px; }
.loginarea .fields { float: left; width: 240px; height: 65px; margin: 9px 0 0 0; position: relative; }
.loginarea input[type="text"], .loginarea input[type="password"], .loginarea .user .info { outline: none; box-sizing: border-box; background: transparent; color: #fff; text-shadow: 1px 1px 0 rgba(0,0,0,0.1); font-size: 12px; font-family: Arial; border: 0; margin: 0; height: 30px; line-height: 30px; padding: 0 0 0 24px; }
.loginarea input[type="text"] { width: 220px; margin: 0 0 5px;  }
.loginarea input[type="password"] { width: 100px; }
.loginarea input::-webkit-input-placeholder { color: rgba(255,255,255,0.8); }
.loginarea input:-moz-placeholder { color: rgba(255,255,255,0.8); }
.loginarea label > span { height: 14px; position: absolute; left: 4px; }
.loginarea label > span.icon-user { width: 12px; background-position: -407px -73px; top: 8px; }
.loginarea label > span.icon-pass { width: 14px; background-position: -407px -89px; top: 43px; }
.loginarea .gologin, .loginarea .user .opts > a { text-align: center; cursor: pointer; outline: none; position: absolute; right: 17px; top: 35px; width: 124px; height: 30px; line-height: 30px; padding: 0; margin: 0; border: 0; background-position: -182px -144px; font-family: H67, Calibri, Arial; font-size: 16px; font-weight: bold; color: #15144f; text-transform: uppercase; }
.loginarea .gologin:hover, .loginarea .user .opts > a:hover { background-position: -182px -176px; }
.loginarea .gologin:active, .loginarea .user .opts > a:active { opacity: 0.7; }
.loginarea .ess { width: 198px; position: absolute; top: 69px; left: -12px; text-align: left; }
.loginarea .ess a { font-size: 10px !important; text-shadow: 1px 1px 0 rgba(0,0,0,0.3); }
.loginarea .error { position: absolute; left: 0; top: 110px; width: 280px; padding: 5px; background: red; border-radius: 4px; text-align: center; color: #fff; font-size: 12px; }
.loginarea .loader { opacity: 0.8; width: 80px; height: 80px; background: #fff url('../imgs/nm/loader.gif') no-repeat center center; position: absolute; left: 8px; top: 2px; border-radius: 50%; }

.loginarea .user .info, .loginarea .user .opts > span { font-family: H67, Arial; font-weight: bold; text-transform: uppercase; }
.loginarea .user .info { padding-left: 4px; }
.loginarea .user .opts { width: 100%; height: 30px; display: table; margin: 5px; }
.loginarea .user .opts > span, .loginarea .user .opts > a { display: block; height: 30px; line-height: 30px; float: left; margin: 0; box-sizing: border-box; }
.loginarea .user .opts > span { position: relative; cursor: default; width: 127px; font-size: 13px; }
.loginarea .user .opts > span:hover { color: #f8bb00; }
.loginarea .user .opts > span:hover > i { background-position: -140px -62px; }
.loginarea .user .opts > span > div { display: none; position: absolute; left: -10px; top: 30px; background: #0a0a27; width: 180px; box-sizing: border-box; padding: 4px; }
.loginarea .user .opts > span > div > a { width: 100%; box-sizing: border-box; border-radius: 0 !important; height: 30px; line-height: 30px; padding: 0 !important; font-size: 12px; }
.loginarea .user .opts > span:hover > div { display: block; }

.top-detail { width: 44px; height: 57px; background-position: -250px -73px; position: absolute; top: 30px; left: 578px; z-index: 4; }

.langs { z-index: 2; display: table; position: absolute; top: 80px; left: 53px; width: 243px; height: 71px; background-position: -193px 0; box-sizing: border-box; padding: 10px 0 0 31px; }
.langs a { float: left; margin: 0 0 0 2px; }
.langs a, .langs a span { display: block; width: 59px; height: 40px; background: transparent url('../imgs/langs.png') no-repeat; }
.langs a:first-child { margin: 0; }
.langs a.en { background-position: 0 0; }
.langs a.pt { background-position: -61px 0; }
.langs a.es { background-position: -122px 0; }
.langs a > span { opacity: 0; transition: opacity 0.4s; }
.langs a.en > span { background-position: 0 -42px; }
.langs a.pt > span { background-position: -61px -42px; }
.langs a.es > span { background-position: -122px -42px; }
.langs a:hover > span { opacity: 1; }
.langs a:active { opacity: 0.6; }

.select-world { position: absolute; top: 172px; right: 60px; display: block; width: 248px; height: 52px; background-position: 0 -80px; box-sizing: border-box; padding: 6px 0 0 61px; }
.select-world > span { cursor: pointer; display: block; width: 180px; height: 40px; box-sizing: border-box; padding: 17px 0 0 26px; background-position: 0 -134px; font-family: H67, Calibri, Arial; font-size: 14px; font-weight: bold; color: #000; text-transform: uppercase; }
.select-world > span:hover { background-position: 0 -176px; }

.dual-buttons { display: table; position: absolute; top: 569px; left: 360px; width: 480px; height: 39px; }
.dual-buttons > a, .dual-buttons > a > span { display: block; width: 207px; height: 39px; }
.dual-buttons > a.b1 { float: left; background-position: -438px 0; }
.dual-buttons > a.b2 { float: right; background-position: -438px -82px; }
.dual-buttons > a > span { opacity: 0; transition: opacity 0.4s; }
.dual-buttons > a.b1 > span { background-position: -438px -41px; }
.dual-buttons > a.b2 > span { background-position: -438px -123px; }
.dual-buttons > a:hover > span { opacity: 1; }
.dual-buttons > a:active { opacity: 0.8; }

.server-status { position: absolute; top: 598px; left: 165px; display: block; width: 86px; height: 37px; line-height: 37px; font-family: H67, Calibri, Arial; font-size: 18px; font-weight: bold; color: #2aff00; text-transform: uppercase; text-align: center; }
.server-status.off { color: #ff0000; }

.players-online { background-position: -308px -164px; position: absolute; top: 584px; right: 18px; display: block; width: 246px; height: 57px; line-height: 37px; box-sizing: border-box; padding: 14px 147px 0 13px; font-family: H67, Calibri, Arial; font-size: 18px; font-weight: bold; color: #2aff00; text-transform: uppercase; text-align: center; }

footer { width: 100%; height: 400px; }
footer > div { width: 1200px; display: table; margin: 0 auto; }
footer .linksPanel { padding: 190px 0 0; display: table; float:left; margin: 0; box-sizing: border-box; }
footer .linksPanel > div { box-sizing: border-box; float: left; border: 0; border-right: 1px solid rgba(0,0,0,0.8); border-left: 1px solid rgba(255,255,255,0.1); padding: 0 20px; }
footer .linksPanel > div > div { color: #fff; font-size: 16px; font-family: H67, Calibri, Arial; font-weight: bold; text-transform: uppercase; margin: 0 0 10px; }
footer .linksPanel > div > a { display: table; box-sizing: border-box; font-weight: normal; font-size: 14px; margin: 0 0 4px 0; color: #ebab22; text-shadow: 1px 1px 0 rgba(0,0,0,0.5); }
footer .linksPanel > div > a:hover { color: #fff29d; }
footer .linksPanel > div > a:active { color: #fff; }
footer .r { width: 600px; float: right; }
footer .copyright { color: rgba(255,255,255,0.5); width: 550px; padding: 184px 0 0; display: table; float: right; text-align: right; font-size: Arial; font-size: 10px; text-transform: uppercase; }
footer .copyright span { display: block; color: #fff; font-size: 16px; font-family: H67, Calibri, Arial; font-weight: bold; text-transform: uppercase; margin: 0 0 4px 0; }
footer .copyright a.atualstudio { transition: opacity 0.4s; opacity: 0.5; display: inline-block; margin: 17px 0 0 0; width: 120px; height: 18px; background: transparent url('../imgs/nm/atualstudio.png'); }
footer .copyright a.atualstudio:hover { opacity: 1; }
footer .copyright .logo { display: inline-block; margin: 0 0 10px 0; width: 85px; height: 56px; background-position: -502px -469px; }

section { width: 1200px; display: table; margin: 0 auto; }

.banners { width: 1200px; margin: 0 auto; display: table; }
.banners > div { width: 599px; height: 200px; box-sizing: border-box; padding: 4px 4px 0 7px; float: left; position: relative; }
.banners > div > div { z-index: 1; position: absolute; left: 0; top: 0; width: 100%; height: 200px; background: transparent url('../imgs/dual-banners.png') no-repeat; }
.banners > div > a { z-index: 2; position: absolute; left: 30px; top: 86px; display: block; width: 364px; height: 83px; background-position: 0 -223px; text-align: center; color: #000; font-family: H77, Arial; font-weight: bold; font-size: 24px; text-transform: uppercase; box-sizing: border-box; padding: 22px 0 0; }
.banners > div > a > span { display: block; font-family: H67, Arial; font-weight: bold; font-size: 14px; margin: 7px 0 0 0; padding: 0 6px 0 72px; color: #fff; }
.banners > div.b2 { float: right; padding: 4px 7px 0 4px; }
.banners > div.b2 > div { background-position: -601px 0; }
.banners > div.b2 > a { background-position: -365px -223px; left: auto; right: 30px; }
.banners > div.b2 > a > span { padding: 0 72px 0 6px; }
.banners > div > a:hover { color: #17157e; }
.banners > div > a:hover > span { color: #ffda5b; }
@keyframes banner1_move { 0% {left: 45px;} 50% {left: 15px;} 100% {left: 30px;} }
.banners > .b1 > a:hover { animation-name: banner1_move; animation-duration: 0.4s; }
@keyframes banner2_move { 0% {right: 45px;} 50% {right: 15px;} 100% {right: 30px;} }
.banners > .b2 > a:hover { animation-name: banner2_move; animation-duration: 0.4s; }


article { width: 580px; float: left; margin: 20px 20px 0 0; padding: 85px 40px 70px; box-sizing: border-box; background: url('../imgs/central_bot.png') no-repeat 0 bottom, url('../imgs/central_top.png') no-repeat 0 0; background-color: #010121; }
article > h1:first-child { margin-top: 0 !important; }

.news { display: table; width: 100%; }
.news > div { cursor: default; box-sizing: border-box; width: 100%; display: table; margin: 0 0 17px; }
.news > div .contentn { width: 383px; box-sizing: border-box; float: left; position: relative; z-index: 4; padding: 50px 0 0 30px; }
.news > div a.titlen { width: 418px; height: 57px; line-height: 57px; padding: 0 36px; box-sizing: border-box; overflow: hidden; background-position: 0 -307px; display: table; color: #fff !important; font-family: H67, Arial !important; font-weight: bold; text-transform: uppercase; font-size: 18px; position: absolute; top: 0; left: 0; }
.news > div a.titlen:hover { color: #fffe91 !important; }
.news > div a.titlen:active { color: #fff !important; }
.news > div .textn { width: 100%; min-height: 46px; padding: 0 0 15px; box-sizing: border-box; color: #9999a6; text-align: right; }
.news > div .finalinfo { width: 100%; display: table; position: relative; }
.news > div .finalinfo .datan { float: left; width: 112px; height: 21px; line-height: 21px; background-position: -420px -307px; color: rgba(255,255,255,0.7); text-align: center; font-size: 10px; font-weight: bold; }
.news > div .finalinfo .detail { position: absolute; top: 8px; right: 84px; display: block; width: 140px; height: 11px; background-position: -420px -338px; }
.news > div .finalinfo a.lermaisn { position: absolute; top: 0; right: -76px; display: block; width: 154px; height: 26px; line-height: 26px; text-align: center; background-position: -566px -330px; color: #fff !important; font-family: H67, Arial !important; font-weight: bold; text-transform: uppercase; font-size: 14px; }
.news > div .finalinfo a.lermaisn:hover { background-position: -566px -358px; }
.news > div .finalinfo a.lermaisn:active { background-position: -566px -330px; }

.news > div a.imgn { position: relative; width: 94px; height: 94px; margin: 16px 0 0 0; padding: 4px; display: block; float: right; position: relative; z-index: 1; }
.news > div a.imgn img { width: 94px; height: 94px; }
.news > div a.imgn div { width: 102px; height: 102px; background-position: 0 -366px; position: absolute; left: 0; top: 0; }

.news a.morenews { display: block; margin: 30px auto; width: 244px; height: 34px; line-height: 34px; text-align: center; background-position: -104px -366px; color: #fff !important; font-family: H67, Arial !important; font-weight: bold; text-transform: uppercase; font-size: 16px; }
.news a.morenews:hover { background-position: -104px -402px; }
.news a.morenews:active { opacity: 0.8; }

aside { width: 540px; float: left; padding: 40px 0 0 0; }

aside .box { width: 100%; display: table; margin: 0 0 30px 0; }
aside .box .title { width: 540px; height: 50px; text-align: center; color: #fff; font-family: H77, Arial; font-weight: bold; text-transform: uppercase; font-size: 20px; background-position: 0 -530px; }
aside .box .ct { display: table; width: 500px; padding: 10px 0 0 20px; }

aside .box .ct.vote a { float: left; margin: 0 0 0 10px; }
aside .box .ct.vote a:first-child { margin: 0; }
aside .box .ct.vote a:hover { opacity: 0.7; }

aside .box .ct.visitors { width: auto !important; display: table; margin: 0 auto; }

aside .box .multitables { display: table; margin: 0 auto; }
aside .box .multitables table { width: 164px; float: left; margin: 0 0 0 4px; }
aside .box .multitables table:first-child { margin: 0; }
aside .box .multitables table tr > * { border: 0; border-top: 1px solid #4f4e7b; }
aside .box .multitables table tr th { border-top: 0; color: #fff; font-family: Arial; font-weight: bold; font-size: 10px; text-transform: uppercase; height: 20px; text-align: center; padding: 0 5px; }
aside .box .multitables table tr th:first-child { text-align: left; padding: 0 0 0 14px; }
aside .box .multitables table tr th:first-child, aside .box .multitables table tr td:first-child { border-right: 2px solid #030242; }
aside .box .multitables table tr td { color: rgba(255,255,255,0.8); font-family: Arial; font-size: 11px; font-weight: bold; text-transform: none !important; height: 25px; line-height: 25px; text-align: center; padding: 0; }
aside .box .multitables table tr td:first-child { text-align: left; padding: 0; }
aside .box .multitables table tr td.pvp { color: #60c733; }
aside .box .multitables table tr td.pk { color: #d82b2b; }
aside .box .multitables table tr td.clan { color: #f1e370; }

aside .box a.moreranks { margin: 5px 0 0 0; display: table; width: 100%; background-position: 0 -470px; height: 28px; line-height: 28px; text-align: center; font-family: H67, Arial; text-transform: uppercase; font-size: 15px; color: #000; font-weight: bold; transition: background 0.4s, color 0.4s; }
aside .box a.moreranks:hover { background-position: 0 -500px; }
aside .box a.moreranks:active { opacity: 0.7; }

.galleryBox { width: 328px; overflow: hidden; margin: 0; float: left; }
.galleryBox > div { width: 348px; display: table; }
.galleryBox a, .galleryBox a div, .galleryBox a img { width: 64px; height: 64px; }
.galleryBox a { background: rgba(0,0,0,0.8); border: 2px solid #353568; display: block; position: relative; float: left; padding: 2px; margin: 0 10px 10px 0; overflow: hidden; }
.galleryBox a div { position: absolute; top: 2px; left: 2px; transition: border-color 0.3s, background 0.3s, box-shadow 0.3s; }
.galleryBox a span { display: block; width: 20px; height: 20px; position: absolute; left: 26px; top: 26px; background: transparent url('../imgs/nm/play.png') no-repeat; }
.galleryBox a:hover { background: #000; border-color: #ffe56f; }
.galleryBox a:hover div { box-shadow: 0 0 10px rgba(255,255,255,0.6) inset; }
a.moregallery { display: block; float: left; width: 161px; height: 157px; background: transparent url('../imgs/gallery_more.jpg') no-repeat; transition: opacity 0.4s; }
a.moregallery:hover { opacity: 0.7; }
a.moregallery:active { opacity: 1; }

.fullGallery { width: 100%; overflow: hidden; margin: 0 auto; padding: 20px 0 0 0; }
.fullGallery > div { width: calc(100% + 15px); display: table; }
.fullGallery a, .fullGallery a div, .fullGallery a img { width: 98px; height: 98px; }
.fullGallery a { border: 3px solid #fff; background: #000; padding: 2px; display: block; position: relative; float: left; margin: 0 10px 10px 0; overflow: hidden; }
.fullGallery a div { position: absolute; top: 1px; left: 1px; transition: border-color 0.3s, background 0.3s, box-shadow 0.3s; }
.fullGallery a span { display: block; width: 46px; height: 46px; position: absolute; left: 31px; top: 31px; background: transparent url('../imgs/nm/play2.png') no-repeat; }
.fullGallery a:hover { border-color: #fffe91; }

#modal { position: fixed; z-index: 2000; top:0; left: 0; padding: 20px 0 0 0; width: 600px; height: 260px; left:calc(50% - 300px);top:calc(50% - 130px); text-align: center; border-radius: 3px; box-shadow: 0 0 25px rgba(255,255,255,0.2); color: #fff !important; background: #010121; }
#modal h1 { text-align:center; width: 100%; padding:0; margin:16px 0 20px 0; font-size: 20px !important; background: transparent; }

.faceIndex { border-radius: 10px; }

.paginate { display: table; margin: 30px auto; } .paginate a { display: block; padding: 5px 8px; font-weight: bold; box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset; float: left; margin: 0 1px 0 0; border-radius: 3px; } .paginate a.atual, .paginate a.desatived { cursor: default; box-shadow: none; } .paginate a { background: rgba(0,0,0,0.7); border: 1px solid rgba(0,0,0,0.7); color: rgba(255,255,255,0.7) !important; } .paginate a:hover { background: rgba(0,0,0,0.9) !important; border-color: rgba(0,0,0,0.9) !important; color: #fff !important; } .paginate a:active, .paginate a.atual { background: #000 !important; border-color: #000 !important; color: #fff !important; } .paginate a:active { opacity: 0.5; } .paginate a.desatived { background: rgba(0,0,0,0.1) !important; border-color: rgba(0,0,0,0.1) !important; color: rgba(0,0,0,0.3) !important; }

table.default { width: 100%; background: 0; overflow: hidden; }
table.default tr td:first-child { border: 0; }
table.default tr td { font-size: 12px; padding: 6px 8px; border-left: 1px solid #030242; background: rgba(255,255,255,0.05); color: #fff; }
table.default tr td b { color: #fff; }
table.default tr.two td { background: rgba(255,255,255,0.1); }
table.default tr td.foco { font-weight: bold; color: #fff; background: rgba(0,0,0,0.05); }
table.default tr.two td.foco { background: rgba(255,255,255,0.05); }
table.default tr th { font-family: H67, Arial; font-weight: bold; text-transform: uppercase; font-size: 12px; background: #fff; color: #000; padding: 10px 0; border-left: 1px solid #12001d; }
table.default tr.ctype2, table.default tr.ctype2 td { padding: 0; margin: 0; height: 2px; background: #000; }
table.default .pos { width: 25px; text-align: center; }

.horMenu { display: table; margin: 20px auto; }
.horMenu a { float: left; padding: 10px 15px; border-bottom: 2px solid rgba(255,255,255,0.5); margin: 0 0 0 10px; text-transform: uppercase; font-size: 12px; color: rgba(255,255,255,0.6) !important; }
.horMenu a:first-child { margin: 0; }
.horMenu a:hover { border-color: #fff !important; color: #fff !important; }
.horMenu a.act { cursor: default; border-color: #fff !important; color: #fff !important; text-shadow: 0 0 5px rgba(255,255,255,0.6); }
.horMenu a:active { opacity: 0.6; }
.horMenu.ranks a { padding: 10px 10px; }

.rulesbox, .rulesbox .pddInner { text-align: left !important; }
.rulesbox { height: 260px; box-sizing: border-box; overflow: auto; margin: 0 auto 20px; padding: 20px; width: calc(100% - 20px); border: 2px solid rgba(255,255,255,0.2); background: rgba(255,255,255,0.1); }
.rulesbox h1 { padding-top: 0; background: transparent !important; width: auto; height: auto; margin: 0; padding: 0 0 20px 20px; font-size: 20px; }

.formpadrao, .formpadrao > div, .formpadrao .camp input, .formpadrao .camp select { border-radius: 2px; }
.formpadrao { display: table; margin: 0 auto 2px auto; padding: 2px; }
.formpadrao > div { display: table; }
.formpadrao .desc { width: 180px; padding: 0 10px; color: #fff; font-family: H67, Arial; font-weight: bold; text-transform: uppercase; font-size: 12px; text-align: right; }
.formpadrao .desc, .formpadrao .camp, .formpadrao .camp2 { float: left; height: 46px; line-height: 46px; }
.formpadrao .camp input[type="text"], .formpadrao .camp input[type="password"], .formpadrao .camp input[type="file"] { border: 0; width: 230px; margin: 5px 5px 0 0; height: 36px; line-height: 36px; padding: 0 5px; box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset; }
.formpadrao .camp select { border: 0; width: 240px; margin: 5px 5px 0 0; padding: 9px 7px 8px; box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset; }
.formpadrao textarea { border: 0; resize: vertical; height: 300px; width: 200px; margin: 0 4px 10px 0; padding: 5px; }
.formpadrao.tdate .camp input { text-align: center; padding: 0 9px; }
.formpadrao.errorc, .formpadrao.errorc .desc, .formpadrao.errorc .camp { border-color: #c70000; }
.formpadrao.errorc > div { background: #c70000; }
.formpadrao.errorc .desc { color: #fff; }
.formpadrao { border: 1px solid rgba(0,0,0,0.7); }
.formpadrao > div { background: #1b1b38; }
.formpadrao .desc { color: #fff; }
.formpadrao .camp input[type="text"], .formpadrao .camp input[type="password"], .formpadrao .camp input[type="file"], .formpadrao .camp select, .formpadrao textarea { background: #fff; }
.formpadrao .camp input[type="text"]:focus, .formpadrao .camp input[type="password"]:focus, .formpadrao .camp select:hover, .formpadrao textarea:focus { background: #fffbd5; }

label.captcha { position: relative; }
label.captcha img.captchaImage { position: absolute; left: 8px; top: 3px; opacity: 0.8; border-radius: 3px; }
label.captcha a { position: absolute; right: 13px; top: 13px; }
label.captcha a, label.captcha a img { width: 23px; height: 23px; }
label.captcha a:hover { opacity: 0.7; }
label.captcha a:active { opacity: 1; }

.castled { width: 380px; height: 260px; margin: 0; float: left; }
.castled b, .castled .ci .co { color: #fff; }
.castled, .castled > div { display: table; }
.castled .ct { color: #fff; font-size: 16px; font-weight: bold; padding: 10px 0 10px 30px; }
.castled .imgc { width: 200px; height: 113px; border: 1px solid rgba(0,0,0,0.4); float: left; border-radius: 6px; }
.castled .imgc span { display: block; width: 200px; height: 113px; background: rgba(0,0,0,0.6) url('../imgs/nm/castles.jpg') no-repeat; border-radius: 5px; }
.castled .ci { float: left; width: 160px; padding: 2px 0 0 10px; }
.castled .ci .co { font-weight: bold; }
.castled .ci .cc { margin-bottom: 8px; }
.castled .nwar { padding: 5px 0 10px 0; }
.castled .imgc.aden span { background-position: left top; }
.castled .imgc.goddard span { background-position: -200px top; }
.castled .imgc.giran span { background-position: -400px top; }
.castled .imgc.oren span { background-position: -600px top; }
.castled .imgc.dion span { background-position: -800px top; }
.castled .imgc.gludio span { background-position: -1000px top; }
.castled .imgc.innadril span { background-position: -1200px top; }
.castled .imgc.rune span { background-position: -1400px top; }
.castled .imgc.schuttgart span { background-position: -1600px top; }

.rankings_options { display: none !important; }

a.livestreams, a.livestreams > span { display: block; width: 500px; height: 150px; background: transparent url('../imgs/livestreams.jpg') no-repeat; }
a.livestreams > span { opacity: 0; background-position: 0 -152px; transition: opacity 0.4s; }
a.livestreams:hover > span { opacity: 1; }
a.livestreams:active { opacity: 0.8; }
