@font-face { font-family: BBOLD; src: url('./fonts/brandon-bold.otf') format('opentype'); font-weight: bold; font-style: normal; }
@font-face { font-family: BMEDI; src: url('./fonts/brandon-medium.otf') format('opentype'); font-weight: normal; font-style: normal; }

body, html, .all { margin: 0; padding: 0; min-width: 1200px; }
body { background: url('../imgs/bg-top.jpg') no-repeat center top, url('../imgs/bg-bot.jpg') no-repeat center bottom; background-color: #011d1e; color: #fff; }
body, a, a:active, a:visited, a:link { font-family: Arial; font-size: 14px; text-decoration: none; }
a, a:active, a:visited, a:link { color: #fff995; cursor: pointer; font-weight: bold; }
a:hover { color: #ffff00; }
a:active { color: #fff; }
p { margin: 0; padding: 0; }
.pddInner { padding: 0 20px; }
hr { width: 100%; height: 2px; padding: 0; margin: 20px auto; border: 0; background: transparent url('../imgs/separator.png') no-repeat center top; }
.faceIndex { overflow: hidden; min-height: 200px; background: transparent; margin: 15px auto; }
p.cbold { font-weight: bold; text-align: center; width: 100%; padding: 10px 0; text-transform: uppercase; }
.rmsg { display: table; width: 464px; margin: 0 auto 20px auto; padding: 20px; box-sizing: border-box; background: #108c00; text-align: center; color: #fff; font-size: 14px; }
.rmsg.error { background-color: #b30000 !important; }
.rmsg.warn { background-color: #fffca1 !important; color: #000 !important; }
.rmsg a { color: #25a3a7; }
#alerta { visibility: hidden; position: fixed; display: table; z-index: 1001; margin: 0 auto; padding: 25px 30px; color: #5a5a5a; font-size: 15px; background: #f7f7f7; border-radius: 6px; }
#alerta .ok { display: table; width: 100%; }
#alerta .ok > div { font-size: 12px; font-weight: bold; cursor: pointer; display: table; float: right; margin: 15px 0 0 0; padding: 5px 0; text-align: center; width: 60px; text-transform: uppercase; color: #fff; background: #ac0f0f; border: 1px solid #ac0f0f; box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset; border-radius: 4px; }
#alerta .ok > div:hover { background: #d21818; border-color: #d21818; }
#alerta .ok.sucesso > div { background: #0dbb00; border: 1px solid #0dbb00; }
#alerta .ok.sucesso > div:hover { background: #0a8c00; border: 1px solid #0a8c00; }
#backblack { height: 100%; width: 100%; position: fixed; top: 0; left: 0; background: #000; opacity: 0.8; z-index: 1000; }
input.default.sucesso { background: #0dbb00 !important; border-color: #0dbb00 !important; color: #fff !important; }

article a.default, a.default, span.default, input.default { transition: background-color 0.4s, border-color 0.4s; cursor: pointer; display: block; text-align: center; font-weight: bold; font-size: 12px; text-transform: uppercase; padding: 6px 0 5px 0; width: 178px; margin: 0 0 1px; border-radius: 1px; box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset; font-family: BBOLD, Arial; font-weight: bold; text-transform: uppercase; }
article .ucp a.default, .ucp a.default, .ucp span.default, .ucp input.default { padding: 9px 0 10px 0; }
article a.default:active, a.default:active, input.default:active, span.default:active { opacity: 0.7; }
a.default.dbig, input.default.dbig { font-size: 16px; padding: 12px 35px 13px 35px; display: table; width: auto !important; }
article a.default, a.default, span.default, input.default { background: #066b6f; border: 1px solid #066b6f; color: #fff !important; }
article a.default:hover, a.default:hover, input.default:hover, span.default:hover { background: #f8bb00; border-color: #f8bb00; color: #fff !important; }

.all { width: 1100px; position: relative; display: table; margin: 0 auto; padding-top: 14px; }

.langs,
.loginarea .avatar span,
.loginarea .fields,
.loginarea label > span,
.loginarea .gologin,
.loginarea .user .opts > a,
.download-buttons a,
.banners > div > a,
aside .box .title,
h1,
.news > div .finalinfo a.lermaisn,
.news a.morenews,
.loginarea .user .opts > span > i
{ background: transparent url('../imgs/css-sprites.png') no-repeat; }

h1, h1 { display: block; color: #fff; font-family: BBOLD, Arial; font-weight: bold; text-transform: uppercase; width: 100%; box-sizing: border-box; padding: 0; }
h1 { font-size: 20px; height: 32px; margin: 25px auto 20px; padding: 0 0 0 30px; background-position: -340px bottom; }
h1 { font-size: 15px; margin: 20px 0 20px 0; }

#fanback { background: transparent url("../imgs/nm/fanbg.png") repeat; display: none; height: 50%; top: 0; left: 0; position: fixed; width: 100%; z-index: 99999; } #fan-exit { height: 100%; width: 100%; } #fanbox { background: #fff; border-radius: 5px; left: 50%; margin: -123px 0 0 -210px; position: absolute; top: 50%; width: 420px; } #fanbox > iframe { border: none; overflow: hidden; margin: 8px 0 0 8px; width: 402px; height: 230px; } #fanclose { background: transparent url("../imgs/nm/fanclose.png") repeat scroll 0 0; cursor: pointer; float: right; height: 15px; right: -22px; top: -20px; padding: 20px 40px 20px 20px; position: absolute; } #fanclose:hover { background-position: 0 -56px; } 

nav { width: 802px; height: 64px; margin: 0 auto 595px; }
nav > * { float: left; display: block; width: 132px; margin: 0 0 0 2px; background: transparent url('../imgs/menu.png') no-repeat; text-align: center; position: relative; }
nav > *, nav > a { color: #fff !important; font-family: BBOLD, Arial !important; font-weight: bold; text-transform: uppercase; font-size: 15px !important; }
nav > * > span { position: absolute; left: 0; top: 0; display: block; width: 132px; opacity: 0 !important; transition: opacity 0.4s !important; background: transparent url('../imgs/menu.png') no-repeat; }
nav > *.o1, nav > *.o1 > span { height: 50px; line-height: 42px; background-position: 0 0; margin: 0; }
nav > *.o2, nav > *.o2 > span { height: 62px; line-height: 52px; background-position: -134px 0; }
nav > *.o3, nav > *.o3 > span { height: 64px; line-height: 58px; background-position: -268px 0; }
nav > *.o4, nav > *.o4 > span { height: 64px; line-height: 58px; background-position: -402px 0; }
nav > *.o5, nav > *.o5 > span { height: 62px; line-height: 52px; background-position: -536px 0; }
nav > *.o6, nav > *.o6 > span { height: 50px; line-height: 42px; background-position: -670px 0; }
nav > *:hover { z-index: 999 !important; }
nav > *:hover > span { opacity: 1 !important; }
nav a:active { opacity: 0.6; }
nav > span { position: relative; z-index: 5; }
nav > span > div { transition: opacity 0.4s; opacity: 0; position: absolute; top: 53px; left: -19px; display: block; width: 1px; height: 1px; overflow: hidden; background: transparent; padding: 0; border-radius: 0 0 5px 5px; box-shadow: 5px 5px 5px rgba(0,0,0,0.4); }
nav > span > div > a { background: #10595c; border: 1px solid #10595c; color: rgba(255,255,255,0.7) !important; display: block; text-align: center; text-transform: uppercase; width: 100%; height: 28px; line-height: 28px; font-size: 11px !important; padding: 0 10px; box-sizing: border-box; margin: 0 0 2px 0; box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset; }
nav > span > div > a:hover { background: #f8bb00; color: #fff !important; }
nav > span:hover > div { background: #073234; opacity: 1; width: 160px; height: auto; padding: 5px 5px 3px; }
nav > span:hover > div > a { display: block; }

.langs { z-index: 2; position: absolute; top: 139px; left: 20px; width: 311px; height: 60px; padding: 10px 0 0 30px; box-sizing: border-box; }
.langs a { float: left; width: 59px; margin: 0 2px 0 0; }
.langs a > span { opacity: 0; width: 100%; }
.langs a, .langs a > span { display: block; height: 40px; background: transparent url('../imgs/langs.png') no-repeat; }
.langs a:hover > span { opacity: 1; transition: opacity 0.4s; }
.langs a.en { background-position: 0 0; width: 64px; }
.langs a.ru { background-position: -66px 0; }
.langs a.pt { background-position: -127px 0; }
.langs a.es { background-position: -188px 0; width: 64px; }
.langs a.en > span { background-position: 0 -42px; }
.langs a.ru > span { background-position: -66px -42px; }
.langs a.pt > span { background-position: -127px -42px; }
.langs a.es > span { background-position: -188px -42px; }
.langs a:active { opacity: 0.6; }

.loginarea { width: 315px; height: 83px; position: absolute; top: 128px; right: 30px; }
.loginarea .avatar { float: left; }
.loginarea .avatar, .loginarea .avatar span { width: 97px; height: 83px; box-sizing: border-box; padding: 1px 0 0 8px; }
.loginarea .avatar span { position: absolute; top: 0; left: 0; background-position: 0 -62px; }
.loginarea .avatar img { width: 80px; height: 80px; }
.loginarea .fields { float: left; width: 218px; height: 65px; background-position: -738px -154px; margin: 9px 0 0 0; position: relative; }
.loginarea input[type="text"], .loginarea input[type="password"], .loginarea .user .info { outline: none; box-sizing: border-box; background: transparent; color: #fff; text-shadow: 1px 1px 0 rgba(0,0,0,0.1); font-size: 12px; font-family: Arial; border: 0; margin: 0; height: 30px; line-height: 30px; padding: 0 32px 0 24px; }
.loginarea input[type="text"] { width: 218px; margin: 0 0 5px;  }
.loginarea input[type="password"] { width: 127px; }
.loginarea input::-webkit-input-placeholder { color: rgba(255,255,255,0.8); }
.loginarea input:-moz-placeholder { color: rgba(255,255,255,0.8); }
.loginarea label > span { height: 14px; position: absolute; left: 1px; }
.loginarea label > span.icon-user { width: 13px; background-position: -99px -62px; top: 8px; }
.loginarea label > span.icon-pass { width: 15px; background-position: -114px -62px; top: 43px; }
.loginarea .gologin, .loginarea .user .opts > a { text-align: center; cursor: pointer; outline: none; position: absolute; right: 0; top: 35px; width: 124px; height: 30px; line-height: 30px; padding: 0; margin: 0; border: 0; background-position: -99px -78px; font-family: BBOLD, Arial; font-weight: bold; text-transform: uppercase; color: #000; font-size: 14px; }
.loginarea .gologin:hover, .loginarea .user .opts > a:hover { background-position: -225px -78px; color: #fff; }
.loginarea .gologin:active, .loginarea .user .opts > a:active { opacity: 0.7; }
.loginarea .ess { width: 120px; position: absolute; top: 69px; left: -13px; text-align: left; }
.loginarea .ess a { font-size: 10px !important; text-shadow: 1px 1px 0 rgba(0,0,0,0.3); }
.loginarea .error { position: absolute; left: 15px; top: 100px; width: 280px; padding: 5px; background: red; border-radius: 4px; text-align: center; color: #fff; font-size: 12px; }
.loginarea .loader { opacity: 0.8; width: 120px; height: 80px; background: #000 url('../imgs/nm/loader.gif') no-repeat center center; position: absolute; left: 80px; top: 3px; border-radius: 50%; }

.loginarea .user .info, .loginarea .user .opts > span { font-family: BBOLD, Arial; font-weight: bold; text-transform: uppercase; }
.loginarea .user .info { padding-left: 4px; }
.loginarea .user .opts { width: 100%; height: 30px; display: table; margin: 5px; }
.loginarea .user .opts > span, .loginarea .user .opts > a { display: block; height: 30px; line-height: 30px; float: left; margin: 0; box-sizing: border-box; }
.loginarea .user .opts > span { position: relative; cursor: default; width: 127px; font-size: 11px; }
.loginarea .user .opts > span > i { display: block; width: 8px; height: 8px; float: left; background-position: -130px -62px; margin: 11px 4px 0 0; }
.loginarea .user .opts > span:hover { color: #f8bb00; }
.loginarea .user .opts > span:hover > i { background-position: -140px -62px; }
.loginarea .user .opts > span > div { display: none; position: absolute; left: -10px; top: 30px; background: #fff; width: 180px; box-sizing: border-box; padding: 4px; }
.loginarea .user .opts > span > div > a { width: 100%; box-sizing: border-box; border-radius: 0 !important; height: 24px; line-height: 24px; padding: 0 !important; font-size: 10px; }
.loginarea .user .opts > span:hover > div { display: block; }

.download-buttons { width: 534px; height: 50px; position: absolute; left: 333px; top: 590px; display: table; }
.download-buttons a {  display: block; height: 50px; width: 265px; float: left; margin: 0; transition: opacity 0.4s; }
.download-buttons a.server { background-position: -313px 0; margin-right: 4px; }
.download-buttons a.client { background-position: -580px 0; }
.download-buttons a:hover { opacity: 0.7; }

section { width: 1200px; display: table; margin-left: 60px; padding: 20px 0 0 0; }

aside { width: 540px; float: left; margin: 0 20px 0 0; }

article { width: 565px; float: left; }
article > h1:first-child { margin-top: 0; }

aside .box { width: 100%; display: table; margin: 0 0 30px 0; }
aside .box .title { width: 540px; height: 46px; line-height: 46px; text-align: center; color: #000; font-family: BBOLD, Arial; font-weight: bold; text-transform: uppercase; font-size: 18px; background-position: 0 -154px; }
aside .box .ct { display: table; width: 500px; padding: 20px 0 0 20px; }
aside .box .ct.vote { width: auto !important; margin: 0 auto; text-align: center; }
aside .box .ct.vote > a { margin: 0 0 5px 5px; opacity: 0.8; float: left; }
aside .box .ct.vote > a:first-child { margin: 0 0 5px 0; }
aside .box .ct.vote > a:hover { opacity: 1; }

aside .box .multitables { display: table; margin: 0 auto; }
aside .box .multitables table { width: 164px; float: left; margin: 0 0 0 4px; }
aside .box .multitables table:first-child { margin: 0; }
aside .box .multitables table tr > * { border: 0; }
aside .box .multitables table tr th { background: #011d1e; color: #fff; font-family: Arial; font-weight: bold; font-size: 10px; text-transform: uppercase; height: 29px; line-height: 29px; text-align: center; padding: 0 5px; border-bottom: 2px solid #fff; }
aside .box .multitables table.pvp tr th { border-color: #126fcc; }
aside .box .multitables table.pk tr th { border-color: #cc1212; }
aside .box .multitables table.clan tr th { border-color: #33cc1e; }
aside .box .multitables table tr th:first-child { text-align: left; padding: 0 0 0 14px; }
aside .box .multitables table tr td { background: #1a2b29; color: rgba(255,255,255,0.8); font-family: Arial; font-weight: bold; font-size: 11px; text-transform: none !important; height: 26px; line-height: 26px; text-align: center; padding: 0; }
aside .box .multitables table tr.two td { background: #13201f; }
aside .box .multitables table tr td:first-child { text-align: left; padding: 0 10px; }

aside .box a.moreranks { margin: 5px 0 0 0; display: table; width: 100%; background: #066b6f; height: 28px; line-height: 28px; text-align: center; font-family: BBOLD, Arial; text-transform: uppercase; font-size: 12px; color: #fff; font-weight: bold; transition: background 0.4s, color 0.4s; }
aside .box a.moreranks:hover { background: #f8bb00; color: #fff; }
aside .box a.moreranks:active { opacity: 0.7; }

.banners { width: 1060px; margin-left: 70px; display: table; }
.banners > div { width: 529px; height: 200px; float: left; position: relative; }
.banners > div > a { z-index: 2; position: absolute; left: 8px; top: 112px; display: block; width: 338px; height: 66px; background-position: 0 -244px; text-align: center; color: #000; font-family: BBOLD, Arial; font-weight: bold; font-size: 20px; text-transform: uppercase; box-sizing: border-box; padding: 12px 0 0; }
.banners > div > a:hover { color: #066b6f; }
.banners > div > a > span { display: block; font-family: BMEDI, Arial; font-weight: normal; font-size: 10px; margin: -4px 0 0 0; }
.banners > div.b2 { float: right; }
.banners > div.b2 > a { left: auto; right: 8px; }
@keyframes banner1_move { 0% {left: 8px;} 33% {left: -28px;} 66% {left: 38px;} 100% {left: 8px;} }
.banners > .b1 > a:hover { animation-name: banner1_move; animation-duration: 0.4s; }
@keyframes banner2_move { 0% {right: 8px;} 33% {right: -28px;} 66% {right: 38px;} 100% {right: 8px;} }
.banners > .b2 > a:hover { animation-name: banner2_move; animation-duration: 0.4s; }

footer { width: 100%; height: 420px; }
footer > div { width: 1140px; display: table; margin: 0 auto; }
footer .linksPanel { padding: 190px 0 0; display: table; float:left; margin: 0; box-sizing: border-box; text-align: center; }
footer .linksPanel > div { box-sizing: border-box; float: left; border: 0; border-right: 1px solid rgba(0,0,0,0.8); border-left: 1px solid rgba(255,255,255,0.1); padding: 0 20px; }
footer .linksPanel > div > div { color: #fff; font-size: 16px; font-family: BBOLD, Arial; font-weight: bold; text-transform: uppercase; margin: 0 0 10px; }
footer .linksPanel > div > a { display: table; box-sizing: border-box; font-weight: normal; font-size: 14px; margin: 0 0 4px 0; color: #fff495; text-shadow: 1px 1px 0 rgba(0,0,0,0.5); }
footer .linksPanel > div > a:hover { color: #ffe403; }
footer .linksPanel > div > a:active { color: #fff; }
footer .r { width: 600px; float: right; }
footer .copyright { color: rgba(255,255,255,0.5); width: 550px; padding: 220px 0 0; display: table; float: right; text-align: right; font-size: Arial; font-size: 10px; text-transform: uppercase; }
footer .copyright span { display: block; color: #fff; font-family: BBOLD, Arial; font-weight: bold; font-size: 13px; margin: 0 0 4px 0; }
footer .copyright a.atualstudio { transition: opacity 0.4s; opacity: 0.5; display: inline-block; margin: 17px 0 0 0; width: 120px; height: 18px; background: transparent url('../imgs/nm/atualstudio.png'); }
footer .copyright a.atualstudio:hover { opacity: 1; }

.galleryBox { width: 500px; overflow: hidden; margin: 0 auto; }
.galleryBox > div { width: 505px; display: table; margin: 0 auto; }
.galleryBox a, .galleryBox a div, .galleryBox a img { width: 98px; height: 98px; }
.galleryBox a { background: rgba(0,0,0,0.7); display: block; position: relative; float: left; margin: 0 3px 3px 0; overflow: hidden; }
.galleryBox a span { display: block; width: 42px; height: 42px; position: absolute; left: 28px; top: 28px; background: transparent url('../imgs/nm/play.png') no-repeat; opacity: 0.7; }
.galleryBox a div { position: absolute; left: 0; top: 0; opacity: 0; box-shadow: inset 0 0 30px #f8bb00; }
.galleryBox a:hover { border-color: #000; transition: border-color 0.4s; }
.galleryBox a:hover span { opacity: 1; transition: opacity 0.4s; }
.galleryBox a:hover div { opacity: 1; transition: opacity 0.4s; }

.fullGallery { width: 1000px; }
.fullGallery > div { width: 1010px; }

.news { display: table; width: 100%; padding: 0 0 10px 0; }
.news > div { background: #fff; cursor: default; box-sizing: border-box; width: 100%; padding: 20px; display: table; margin: 0 0 10px; position: relative; }
.news > div a.imgn { width: 104px; height: 104px; background: #011d1e; box-sizing: border-box; padding: 2px; display: block; float: left; position: relative; }
.news > div a.imgn img { width: 100px; height: 100px; }
.news > div .contentn { width: calc(100% - 104px); box-sizing: border-box; padding: 0 0 0 20px; float: left; }
.news > div a.titlen { transition: color 0.4s; display: table; color: #000 !important; font-family: BBOLD, Arial !important; font-weight: bold; text-transform: uppercase; font-size: 17px; margin: 0 0 5px; }
.news > div a.titlen:hover { color: #066b6f !important; }
.news > div a.titlen:active { color: #f8bb00 !important; }
.news > div .textn { width: 100%; min-height: 45px; box-sizing: border-box; color: rgba(0,0,0,0.5); }
.news > div .finalinfo { width: 100%; }
.news > div .finalinfo .datan { color: rgba(0,0,0,0.5); font-family: BMEDI, Arial !important; font-weight: bold; text-transform: uppercase; font-size: 11px; margin: 7px 0 0 0; }
.news > div .finalinfo a.lermaisn { position: absolute; bottom: 24px; right: -21px; display: block; width: 162px; height: 30px; line-height: 30px; text-align: center; background-position: -99px -110px; color: #fff !important; font-family: BBOLD, Arial !important; font-weight: bold; text-transform: uppercase; font-size: 14px; }
.news > div .finalinfo a.lermaisn:hover { background-position: -263px -110px; }
.news > div .finalinfo a.lermaisn:active { background-position: -99px -110px; }
.news a.morenews { display: block; margin: 20px auto 0; width: 367px; height: 40px; line-height: 40px; text-align: center; background-position: 0 -202px; color: #fff !important; font-family: BBOLD, Arial !important; font-weight: bold; text-transform: uppercase; font-size: 16px; }
.news a.morenews:hover { background-position: -369px -202px; }
.news a.morenews:active { opacity: 0.8; }

.news.inner > div { width: calc(50% - 30px); float: left; margin-right: 30px; }

#modal { position: fixed; z-index: 1000; top:0; left: 0; padding: 20px 0 0 0; width: 560px; height: 250px; left:calc(50% - 283px);top:calc(50% - 128px); text-align: center; border: 3px solid #6c6c6e; border-radius: 10px; box-shadow: 0 0 25px rgba(0,0,0,0.5); color: #fff !important; background: #011d1e; }
#modal h1 { text-align:center; width: 100%; padding:0; margin:16px 0 20px 0; font-size: 20px !important; background: transparent; }

.faceIndex { border: 5px solid #fff; }
.paginate { display: table; margin: 30px auto; }
.paginate a { display: block; padding: 8px 10px; font-weight: bold; box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset; float: left; margin: 0 1px 0 0; }
.paginate a.atual, .paginate a.desatived { cursor: default; box-shadow: none; }
.paginate a { background: rgba(255,255,255,0.7); border: 1px solid rgba(255,255,255,0.7); color: rgba(0,0,0,0.7) !important; }
.paginate a:hover { background: rgba(255,255,255,0.9) !important; border-color: rgba(255,255,255,0.9) !important; color: #000 !important; }
.paginate a:active, .paginate a.atual { background: #fff !important; border-color: #fff !important; color: #000 !important; }
.paginate a:active { opacity: 0.5; }
.paginate a.desatived { background: rgba(0,0,0,0.1) !important; border-color: rgba(0,0,0,0.1) !important; color: rgba(255,255,255,0.2) !important; }

table.default { border-radius: 4px; box-shadow: 0 0 5px rgba(0,0,0,0.3); width: 100%; background: 0; overflow: hidden; }
table.default tr td:first-child { border: 0; }
table.default tr td { font-size: 12px; padding: 6px 8px; border-left: 1px solid rgba(0,0,0,0.4); background: rgba(0,0,0,0.1); }
table.default tr.two td { background: rgba(255,255,255,0.1); }
table.default tr td.foco { font-weight: bold; color: #fff; background: rgba(0,0,0,0.2); }
table.default tr.two td.foco { background: rgba(255,255,255,0.2); }
table.default tr th { font-family: BBOLD, Arial; font-weight: bold; text-transform: uppercase; font-size: 12px; background: #fff; color: #000; padding: 10px 0; border-left: 1px solid #12001d; }
table.default tr.ctype2, table.default tr.ctype2 td { padding: 0; margin: 0; height: 2px; background: rgba(0,0,0,0.1); }
table.default .pos { width: 25px; text-align: center; }

.horMenu { display: table; margin: 20px auto; }
.horMenu a { float: left; padding: 10px 15px; border-bottom: 2px solid rgba(255,255,255,0.5); margin: 0 0 0 10px; text-transform: uppercase; font-size: 12px; color: rgba(255,255,255,0.6) !important; }
.horMenu a:first-child { margin: 0; }
.horMenu a:hover { border-color: #fff !important; color: #fff !important; }
.horMenu a.act { cursor: default; border-color: #fff !important; color: #fff !important; text-shadow: 0 0 5px rgba(255,255,255,0.6); }
.horMenu a:active { opacity: 0.6; }
.horMenu.ranks a { padding: 10px 10px; }

.rulesbox, .rulesbox .pddInner { text-align: left !important; }
.rulesbox { height: 260px; box-sizing: border-box; overflow: auto; margin: 0 auto 20px; padding: 20px; width: calc(100% - 20px); border: 2px solid rgba(255,255,255,0.2); background: rgba(0,0,0,0.3); }
.rulesbox h1 { padding-top: 0; background: transparent !important; width: auto; height: auto; margin: 0; padding: 0 0 20px 20px; font-size: 20px; }

.formpadrao, .formpadrao > div, .formpadrao .camp input, .formpadrao .camp select { border-radius: 2px; }
.formpadrao { display: table; margin: 0 auto 2px auto; padding: 2px; }
.formpadrao > div { display: table; }
.formpadrao .desc { width: 200px; padding: 0 10px; color: #fff; font-family: BBOLD, Arial; font-weight: bold; text-transform: uppercase; font-size: 12px; text-align: right; }
.formpadrao .desc, .formpadrao .camp, .formpadrao .camp2 { float: left; height: 46px; line-height: 46px; }
.formpadrao .camp input[type="text"], .formpadrao .camp input[type="password"], .formpadrao .camp input[type="file"] { border: 0; width: 230px; margin: 5px 5px 0 0; height: 36px; line-height: 36px; padding: 0 5px; box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset; }
.formpadrao .camp select { border: 0; width: 240px; margin: 5px 5px 0 0; padding: 9px 7px 8px; box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset; }
.formpadrao textarea { border: 0; resize: vertical; height: 300px; width: 200px; margin: 0 4px 10px 0; padding: 5px; }
.formpadrao.tdate .camp input { text-align: center; padding: 0 9px; }
.formpadrao.errorc, .formpadrao.errorc .desc, .formpadrao.errorc .camp { border-color: #c70000; }
.formpadrao.errorc > div { background: #c70000; }
.formpadrao.errorc .desc { color: #fff; }
.formpadrao { border: 1px solid rgba(0,0,0,0.5); }
.formpadrao > div { background: rgba(255,255,255,0.1); }
.formpadrao .desc { color: #fff; }
.formpadrao .camp input[type="text"], .formpadrao .camp input[type="password"], .formpadrao .camp input[type="file"], .formpadrao .camp select, .formpadrao textarea { background: #fff; }
.formpadrao .camp input[type="text"]:focus, .formpadrao .camp input[type="password"]:focus, .formpadrao .camp select:hover, .formpadrao textarea:focus { background: #fffbd5; }

label.captcha { position: relative; }
label.captcha img.captchaImage { position: absolute; left: 8px; top: 3px; opacity: 0.8; border-radius: 3px; }
label.captcha a { position: absolute; right: 13px; top: 13px; }
label.captcha a, label.captcha a img { width: 23px; height: 23px; }
label.captcha a:hover { opacity: 0.7; }
label.captcha a:active { opacity: 1; }

.castled { width: 380px; height: 260px; margin: 0; float: left; }
.castled b, .castled .ci .co { color: #fff; }
.castled, .castled > div { display: table; }
.castled .ct { color: #fff; font-size: 16px; font-weight: bold; padding: 10px 0 10px 30px; }
.castled .imgc { width: 200px; height: 113px; border: 2px solid #fff; float: left; }
.castled .imgc span { display: block; width: 200px; height: 113px; background: rgba(0,0,0,0.6) url('../imgs/nm/castles.jpg') no-repeat; }
.castled .ci { float: left; width: 160px; padding: 2px 0 0 10px; }
.castled .ci .co { font-weight: bold; }
.castled .ci .cc { margin-bottom: 8px; }
.castled .nwar { padding: 5px 0 10px 0; }
.castled .imgc.aden span { background-position: left top; }
.castled .imgc.goddard span { background-position: -200px top; }
.castled .imgc.giran span { background-position: -400px top; }
.castled .imgc.oren span { background-position: -600px top; }
.castled .imgc.dion span { background-position: -800px top; }
.castled .imgc.gludio span { background-position: -1000px top; }
.castled .imgc.innadril span { background-position: -1200px top; }
.castled .imgc.rune span { background-position: -1400px top; }
.castled .imgc.schuttgart span { background-position: -1600px top; }

.rankings_options { display: table; margin: 0 auto 20px; }
.rankings_options a { float: left; padding: 0 14px; margin: 0 0 0 3px; height: 40px; line-height: 40px; color: #fff; font-family: BBOLD, Arial; font-weight: bold; text-transform: uppercase; font-size: 12px; border: 0; border-bottom: 2px solid rgba(255,255,255,0.8); }
.rankings_options a:first-child { margin: 0; }
.rankings_options a:hover { border-color: #42cbd0; color: #42cbd0; }
.rankings_options a.ativa { border-color: #ffec50; color: #ffec50; }
.rankings_options div { float: left; }

.server_status { margin: 0 auto; width: 294px; height: 62px; background: transparent url('../imgs/server_status.png') no-repeat; }
.server_status > * { font-size: 16px; text-align: center; padding: 30px 0 0 0; width: 50%; float: left; font-weight: normal !important; font-family: H57, Arial !important; text-transform: uppercase; color: #3ee242; }
.server_status > *.off { color: #ff0404; }

.dual-div { display: table; width: 100%; }
.dual-div > div { width: calc(50% - 10px); float: left; }
.dual-div > div:first-child { margin-right: 20px; }

.tri-div { display: table; width: 100%; }
.tri-div > div { width: calc(33% - 10px); float: left; margin-left: 20px; }
.tri-div > div:first-child { margin: 0; }

.center-txt { text-align: center; }
.center-txt h1, .center-txt h2 { padding-left: 0; padding-right: 0; }
body {
cursor: url('cursors/cursor.cur'), auto;
}
a {
cursor: url('cursors/hand.cur'), auto;
}