

body, html, .all { margin: 0; padding: 0; overflow-x: hidden; } body, a, a:active, a:visited, a:link { font-family: Arial; font-size: 13px; text-decoration: none; } a, a:active, a:visited, a:link { cursor: pointer; font-weight: bold; } p { margin: 0; padding: 0; } .pddInner { padding: 0 20px; } hr { width: 100%; height: 3px; padding: 0; margin: 20px auto; border: 0; background: transparent url('../imgs/separator.png') no-repeat center top; } .faceIndex { overflow: hidden; min-height: 200px; background: transparent; margin: 15px auto; border-radius: 8px; } p.cbold { font-weight: bold; text-align: center; width: 100%; padding: 10px 0; text-transform: uppercase; } .rmsg { display: table; width: 360px; margin: 0 auto 20px auto; padding: 10px; background: #108c00; border-radius: 5px; text-align: center; color: #fff; font-size: 14px; } .rmsg.error { background-color: #b30000 !important; } .rmsg.warn { background-color: #fffca1 !important; color: #000 !important; } #alerta { visibility: hidden; position: fixed; display: table; z-index: 1001; margin: 0 auto; padding: 25px 30px; color: #5a5a5a; font-size: 15px; background: #f7f7f7; border-radius: 6px; } #alerta .ok { display: table; width: 100%; } #alerta .ok > div { font-size: 12px; font-weight: bold; cursor: pointer; display: table; float: right; margin: 15px 0 0 0; padding: 5px 0; text-align: center; width: 60px; text-transform: uppercase; color: #fff; background: #ac0f0f; border: 1px solid #ac0f0f; box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset; border-radius: 4px; } #alerta .ok > div:hover { background: #d21818; border-color: #d21818; } #alerta .ok.sucesso > div { background: #0dbb00; border: 1px solid #0dbb00; } #alerta .ok.sucesso > div:hover { background: #0a8c00; border: 1px solid #0a8c00; } #backblack { height: 100%; width: 100%; position: fixed; top: 0; left: 0; background: #000; opacity: 0.8; z-index: 1000; } input.default.sucesso { background: #0dbb00 !important; border-color: #0dbb00 !important; color: #fff !important; }
body, html, .all { min-width: 1260px; }
body { background: url('../imgs/bg-top.jpg') no-repeat center top, url('../imgs/bg-bot.jpg') no-repeat center bottom; background-color: #150101; color: #000; }
a, a:active, a:visited, a:link { color: #f0d69e; }
a:hover { color: #fffbca; }
a:active { color: #fff; }

article a { color: #9b0000 !important; }
article a:hover { color: #ff0000 !important; }
article a:active { color: #ff5656 !important; }

article a.default, a.default, span.default, input.default, .rankings_options > div a { transition: background-color 0.4s, border-color 0.4s; cursor: pointer; display: block; text-align: center; font-weight: normal !important; font-family: H57, Arial !important; text-transform: uppercase; padding: 6px 0 5px 0; width: 178px; margin: 0 0 1px; border-radius: 3px; box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset; font-family: Tahoma; } article .ucp a.default, .ucp a.default, .ucp span.default, .ucp input.default { padding: 9px 0 10px 0; } article a.default:active, a.default:active, input.default:active, span.default:active { opacity: 0.7; } a.default.dbig, input.default.dbig { font-size: 16px; padding: 12px 35px 13px 35px; display: table; width: auto !important; }
article a.default, a.default, span.default, input.default, .rankings_options > div a { background: #7d0000; border: 1px solid #7d0000; color: #fff !important; }
article a.default:hover, a.default:hover, input.default:hover, span.default:hover, .rankings_options > div a:hover { background: #db0000; border-color: #db0000; }

.all { width: 1200px; position: relative; display: table; margin: 0 auto; padding-top: 520px; }

h1 { display: block; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); font-weight: normal; padding: 0; width: 80%; margin: 33px auto 20px; font-weight: normal !important; font-family: H57, Arial !important; text-transform: uppercase; font-size: 29px; color: #353535; }
h2 { text-shadow: 1px 1px 0 rgba(255,255,255,0.3); font-weight: normal; padding: 0; margin: 30px 0 26px 20px; font-weight: normal !important; font-family: H57, Arial !important; text-transform: uppercase; font-size: 23px; color: #353535; }

#fanback { background: transparent url("../imgs/nm/fanbg.png") repeat; display: none; height: 100%; top: 0; left: 0; position: fixed; width: 100%; z-index: 99999; } #fan-exit { height: 100%; width: 100%; } #fanbox { background: #fff; border-radius: 5px; left: 50%; margin: -123px 0 0 -210px; position: absolute; top: 50%; width: 420px; } #fanbox > iframe { border: none; overflow: hidden; margin: 8px 0 0 8px; width: 402px; height: 230px; } #fanclose { background: transparent url("../imgs/nm/fanclose.png") repeat scroll 0 0; cursor: pointer; float: right; height: 15px; right: -22px; top: -20px; padding: 20px 40px 20px 20px; position: absolute; } #fanclose:hover { background-position: 0 -56px; } 

.langs { top: 81px; right: 180px; z-index: 2; position: absolute; width: 171px; height: 57px; }
.langs a { float: right; display: block; width: 52px; height: 57px; margin: 0 5px 0 0; background: transparent url('../imgs/langs.png') no-repeat; }
.langs a.en { background-position: 0 0; }
.langs a.es { background-position: -57px 0; }
.langs a.pt { background-position: -114px 0; }
.langs a.en:hover { background-position: 0 -57px; }
.langs a.es:hover { background-position: -57px -57px; }
.langs a.pt:hover { background-position: -114px -57px; }
.langs a:active { opacity: 0.6; }

nav { position: absolute; left: 246px; top: 383px; width: 860px; height: 3px; padding: 0; box-sizing: border-box; display: table; }
nav > *, nav > * > span { display: block; width: 140px; height: 59px; background: transparent url('../imgs/menu.png') no-repeat; }
nav > * { float: left; margin-left: 2px; }
nav > *:first-child { margin-left: 0 !important; }
nav > *.o1 { background-position: 0 0; }
nav > *.o2 { background-position: -142px 0; }
nav > *.o3 { background-position: -284px 0; }
nav > *.o4 { background-position: -426px 0; }
nav > *.o5 { background-position: -568px 0; }
nav > *.o6 { background-position: -710px 0; }
nav a:active { opacity: 0.6; }

nav > * > span { width: 140px; height: 59px; display: block; opacity: 0; transition: opacity 0.4s; }
nav > *.o1 > span { background-position: 0 -59px; }
nav > *.o2 > span { background-position: -142px -59px; }
nav > *.o3 > span { background-position: -284px -59px; }
nav > *.o4 > span { background-position: -426px -59px; }
nav > *.o5 > span { background-position: -568px -59px; }
nav > *.o6 > span { background-position: -710px -59px; }

nav > *:hover > span { opacity: 1; }

nav > span { position: relative; z-index: 5; padding: 0; }
nav > span > div { transition: opacity 0.4s; opacity: 0; position: absolute; top: 59px; left: -15px; display: block; width: 1px; height: 1px; overflow: hidden; background: transparent; padding: 0; box-shadow: 5px 5px 0 rgba(0,0,0,0.4); }
nav > span > div > a { font-weight: normal !important; font-family: H57, Arial !important; letter-spacing: 0.5px; background: #1e0000; border: 1px solid #1e0000; color: rgba(255,255,255,0.8) !important; display: block; text-align: center; text-transform: uppercase; width: 100%; height: 28px; line-height: 28px; font-size: 12px !important; padding: 0 10px; box-sizing: border-box; margin: 0 0 2px 0; box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset; }
nav > span > div > a:hover { background: #fff; border-color: #fff; color: #000 !important; }
nav > span:hover > div { background: #580000; opacity: 1; width: 160px; height: auto; padding: 5px 5px 3px; }
nav > span:hover > div > a { display: block; }

.central_top_banners { width: 100%; max-width: 1300px; margin: 0 auto; background: transparent url('../imgs/central_top_banners_bg.png') no-repeat center center; }
.central_top_banners > div { display: table; margin: 0 auto; }
.central_top_banners a { float: left; display: block; width: 350px; height: 180px; background-repeat: no-repeat; }
.central_top_banners a:first-child { margin-right: 2px; }
.en .central_top_banners a { background-image: url('../imgs/central_top_banners_EN.png'); }
.es .central_top_banners a { background-image: url('../imgs/central_top_banners_ES.png'); }
.pt .central_top_banners a { background-image: url('../imgs/central_top_banners_PT.png'); }
.central_top_banners a.b1 { background-position: 0 0; }
.central_top_banners a.b2 { background-position: -352px 0; }
.central_top_banners a > span { opacity: 0; transition: opacity 0.4s; display: block; width: 100%; height: 180px; background: transparent url('../imgs/central_top_banners_hover.png') no-repeat; }
.central_top_banners a.b2 span { background-position: -352px 0; }
.central_top_banners a:hover > span { opacity: 1; }

section { display: table; width: 1343px; margin: 0 auto; padding: 30px 0 0; box-sizing: border-box; }

.statsIcons { width: 65px; min-height: 220px; position: relative; float: left; }
.statsIcons > a { position: absolute; left: 0; }
.statsIcons > a, .statsIcons > a > span { width: 68px; height: 79px; display: block; background: transparent url('../imgs/statsButtons.png') no-repeat; }
.statsIcons > a.i1 { background-position: 0 0; top: 0; z-index: 1; }
.statsIcons > a.i2 { background-position: 0 -79px; top: 64px; z-index: 2; }
.statsIcons > a.i3 { background-position: 0 -158px; top: 128px; z-index: 3; }
.statsIcons > a span { opacity: 0; transition: opacity 0.4s; }
.statsIcons > a.i1 span { background-position: -330px 0; top: 0; z-index: 1; }
.statsIcons > a.i2 span { background-position: -68px -79px; }
.statsIcons > a.i3 span { background-position: -68px -158px; }
.statsIcons > a:hover span { opacity: 1; }

.statsIcons2 { width: 65px; min-height: 170px; position: relative; float: left; }
.statsIcons2 > a { position: absolute; left: 0; }
.statsIcons2 > a, .statsIcons > a > span { width: 68px; height: 79px; display: block; background: transparent url('../imgs/statsButtons2.png') no-repeat; }
.statsIcons2 > a.i1 { background-position: 0 0; top: 0; z-index: 1; }
.statsIcons2 > a.i2 { background-position: 0 -79px; top: 64px; z-index: 2; }
.statsIcons2 > a.i3 { background-position: 0 -158px; top: 128px; z-index: 3; }
.statsIcons2 > a span { opacity: 0; transition: opacity 0.4s; }
.statsIcons2 > a.i1 span { background-position: -330px 0; top: 0; z-index: 1; }
.statsIcons2 > a.i2 span { background-position: -68px -79px; }
.statsIcons2 > a.i3 span { background-position: -68px -158px; }
.statsIcons2 > a:hover span { opacity: 1; }

.statsIcons3 { width: 65px; min-height: 170px; position: relative; float: left; }
.statsIcons3 > a { position: absolute; left: 0; }
.statsIcons3 > a, .statsIcons > a > span { width: 68px; height: 79px; display: block; background: transparent url('../imgs/statsButtons3.png') no-repeat; }
.statsIcons3 > a.i1 { background-position: 0 0; top: 0; z-index: 1; }
.statsIcons3 > a.i2 { background-position: 0 -79px; top: 64px; z-index: 2; }
.statsIcons3 > a.i3 { background-position: 0 -158px; top: 128px; z-index: 3; }
.statsIcons3 > a span { opacity: 0; transition: opacity 0.4s; }
.statsIcons3 > a.i1 span { background-position: -330px 0; top: 0; z-index: 1; }
.statsIcons3 > a.i2 span { background-position: -68px -79px; }
.statsIcons3 > a.i3 span { background-position: -68px -158px; }
.statsIcons3 > a:hover span { opacity: 1; }

.statsIcons4 { width: 65px; min-height: 170px; position: relative; float: left; }
.statsIcons4 > a { position: absolute; left: 0; }
.statsIcons4 > a, .statsIcons > a > span { width: 68px; height: 79px; display: block; background: transparent url('../imgs/statsButtons4.png') no-repeat; }
.statsIcons4 > a.i1 { background-position: 0 0; top: 0; z-index: 1; }
.statsIcons4 > a.i2 { background-position: 0 -79px; top: 64px; z-index: 2; }
.statsIcons4 > a.i3 { background-position: 0 -158px; top: 128px; z-index: 3; }
.statsIcons4 > a span { opacity: 0; transition: opacity 0.4s; }
.statsIcons4 > a.i1 span { background-position: -330px 0; top: 0; z-index: 1; }
.statsIcons4 > a.i2 span { background-position: -68px -79px; }
.statsIcons4 > a.i3 span { background-position: -68px -158px; }
.statsIcons4 > a:hover span { opacity: 1; }

.borderArticle { display: table; float: left; margin: 0 10px;  }
article { width: 700px; padding: 95px; margin: 0; background: #fff; border-radius: 0px; box-sizing: border-box; border: 8px solid #271d2d; border-radius: 5px; z-index: 1; float:left; position:relative; }
article img, article object { max-width: 642px !important; }

.banner { position: relative; background: transparent; } .banner .circles { z-index: 3; height: 13px; position: absolute; } .banner .circles div { cursor: pointer; float: left; width: 13px; height: 13px; background: transparent url('../imgs/nm/circles.png') no-repeat -14px 0; margin: 0 4px 0 0; border-radius: 6px; box-shadow: 0 0 5px rgba(0,0,0,0.7); } .banner .circles div.act { background-position: 0 0; } .banner > a { position: absolute; z-index: 1; top: 0; left: 0; display: block; } .banner > a.bvis { z-index: 2; } .banner, .banner > a { border-radius: 10px; } .banner > a > img { border-radius: 8px; } .banner > a > .bmask { position: absolute; left: 0; top: 0; } .banner { border: 2px solid rgba(0,0,0,0.4); }
.banner .circles { bottom: 10px; right: 10px; }

.news { width: 562px; overflow: hidden; }
.news > div { width: 600px; display: table; }

.new { width: 271px; height: 286px; cursor:default; display: table; float: left; margin: 0 20px 20px 0; padding: 56px 0 0 0; box-sizing: border-box; position: relative; text-align: center; }
.new a.imgn, .new a.imgn img { width: 96px; height: 96px; }
.new a.imgn { z-index: 2; position: absolute; left: 85px; top: 0; display: block; float: left; padding: 1px; border: 1px solid rgba(0,0,0,0.4); border-radius: 6px; }
.new a.imgn img { border-radius: 5px; }
.new .bgdetail { z-index: 1; position: absolute; left: 31px; top: 26px; background: #f2f2f2; border-radius: 5px 5px 0 0; width: 209px; height: 30px; }

.new .contentn { width: 271px; height: 230px; border: 1px solid #dedede; border-radius: 5px; background: #f1f1f1; box-sizing: border-box; padding: 53px 30px 10px 30px; float: left; }

.new a.titlen { font-weight: normal !important; font-family: H57, Arial !important; text-transform: uppercase; display: block; width: 100%; font-size: 16px; padding: 0 0 10px 0; }
.new .textn { color: rgba(0,0,0,0.8); font-size: 12px; height: 90px; overflow: hidden; }

.new .datan { position: absolute; bottom: 18px; left: 20px; color: rgba(0,0,0,0.6); float: left; font-weight: bold; font-size: 10px; }
.new a.lermaisn { position: absolute; bottom: 10px; right: 10px; float: right; font-weight: normal !important; font-family: H57, Arial !important; width: 83px; height: 27px; line-height: 27px; padding: 0 !important; text-align: center; font-size: 12px; }


aside { width: 310px; display:table; float:left; }

aside .box { width: 310px; display:table; margin:0 0 30px 0; }
aside .box .title { width: 310px; height: 50px; line-height: 50px; text-align: center; background: transparent url('../imgs/titlebar.png') no-repeat; font-weight: normal !important; font-family: H57, Arial !important; text-transform: uppercase; color: #000; font-size: 17px; margin: 0 0 10px 0; }

.loginarea { width: 226px; height: 179px; margin: 0 auto; background: transparent url('../imgs/ucp_bg.png') no-repeat; position: relative; }
.loginarea .avatar { position: absolute; left: 72px; top: 20px; background-position: center center; }
.loginarea .avatar, .loginarea .avatar > span { display: block; width: 80px; height: 69px; }
.loginarea .avatar > span { background: transparent url('../imgs/ucp_avatar_mask.png') no-repeat; }

.fieldsBox { width: 201px; height: 66px; position: absolute; top: 102px; left: 12px; background: transparent url('../imgs/ucp_inputs.jpg') no-repeat; }
.fieldsBox .inpt { background: transparent; border: 0; position: absolute; font-size: 11px; box-sizing: border-box; padding: 0 14px 0 30px; }
.fieldsBox .inpt.user { width: 134px; height: 19px; left: 34px; top: 1px; }
.fieldsBox .inpt.pass { width: 129px; height: 22px; left: 2px; top: 21px; }
.fieldsBox .gologin { position: absolute; right: 0; top: 21px; width: 83px; height: 22px; padding: 0; margin: 0; border: 0; background: transparent url('../imgs/ucp_login.png') no-repeat 0 0; }
.fieldsBox .gologin:hover { background-position: 0 -22px; }
.fieldsBox .gologin:active { opacity: 0.8; }

.loginarea .ess { display: block; width: 201px; height: 22px; line-height: 22px; position: absolute; bottom: 0; left: 0; text-align: center; font-size: 11px; }
.loginarea .ess a { font-size: 11px; color: #fff; }
.loginarea .ess a:hover { text-shadow: 0 0 10px #fff; }
.loginarea .error { z-index: 2; position: absolute; top: 0; left: 0; width: 226px; padding: 4px; box-sizing: border-box; background: #b30000; border-radius: 4px; text-align: center; color: #fff; font-size: 11px; }
.loginarea .loader { opacity: 0.8; width: 80px; height: 80px; background: #000 url('../imgs/nm/loader.gif') no-repeat center center; position: absolute; left: 71px; top: 15px; border-radius: 40px; }

.loggedOptions { display: table; position: absolute; top: 122px; left: 12px; width: 201px; height: 46px; }

.logged { position: absolute; left: 45px; top: 102px; text-align: center; color: #fff; font-size: 11px; width: 136px; height: 20px; line-height: 20px; text-transform: capitalize; }

.loggedOptions > * { position: relative; display: block; float: left; height: 46px; padding: 0; margin: 0; box-sizing: border-box; border: 0; background: transparent url('../imgs/ucp_opts_bg.png') no-repeat 0 0; }
.loggedOptions > *.o1 { width: 109px; cursor: default; background-position: 0 0; }
.loggedOptions > *.o2 { width: 92px; cursor: pointer; background-position: -109px 0; }
.loggedOptions > *.o1:hover { background-position: 0 -46px; }
.loggedOptions > *.o2:hover { background-position: -109px -46px; }
.loggedOptions > span > div { transition: opacity 0.4s; opacity: 0; position: absolute; top: 46px; left: 13px; display: block; width: 1px; height: 1px; overflow: hidden; background: transparent; padding: 0; box-shadow: 5px 5px 0 rgba(0,0,0,0.2); }
.loggedOptions > span > div > a { letter-spacing: 0.5px; background: #1e0000; border: 1px solid #1e0000; color: rgba(255,255,255,0.8) !important; display: block; text-align: center; text-transform: uppercase; width: 100%; height: 28px; line-height: 28px; font-size: 12px !important; padding: 0 10px; box-sizing: border-box; margin: 0 0 2px 0; box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset; border-radius: 0 !important; }
.loggedOptions > span > div > a:hover { background: #fff; border-color: #fff; color: #000 !important; }
.loggedOptions > span:hover > div { background: #580000; opacity: 1; width: 145px; height: auto; padding: 5px 5px 3px; }
.loggedOptions > span:hover > div > a { display: block; }
.loggedOptions > *:active { opacity: 0.7; }

.server_status { margin: 0 auto; width: 294px; height: 62px; background: transparent url('../imgs/server_status.png') no-repeat; }
.server_status > * { font-size: 16px; text-align: center; padding: 30px 0 0 0; width: 50%; float: left; font-weight: normal !important; font-family: H57, Arial !important; text-transform: uppercase; color: #3ee242; }
.server_status > *.off { color: #ff0404; }

.dualRank { display: table; width: 310px; }
.dualRank > table.indexRank { width: 154px; margin: 0 0 0 2px; }
.dualRank > table.indexRank:first-child { margin: 0; }

table.indexRank { background: #fff; width: 154px; margin: 0; font-size: 11px; font-weight: bold; border: 1px solid #a2a2a2; float: left; border-radius: 5px; }
table.indexRank tr th { color: #000; font-size: 10px; text-transform: uppercase; background: #a2a2a2; height: 35px; line-height: 35px; text-align: center; }
table.indexRank tr th:first-child, table.indexRank tr td:first-child { padding-left: 10px; text-align: left; border-right: 1px solid #a2a2a2; }
table.indexRank tr td { padding: 0 5px; height: 30px; line-height: 30px; text-align: center; background: rgba(0,0,0,0.2); }
table.indexRank tr.two td { background: rgba(0,0,0,0.1); }


a.donateBanner, a.donateBanner span { width: 310px; height: 110px; display: block; border-radius: 10px; }
.pt a.donateBanner, .pt a.donateBanner span { background: transparent url('../imgs/donateb_EN.gif'); }
.en a.donateBanner, .en a.donateBanner span { background: transparent url('../imgs/donateb_EN.gif'); }
.es a.donateBanner, .es a.donateBanner span { background: transparent url('../imgs/donateb_EN.gif'); }
a.donateBanner span { transition: opacity 0.4s; opacity: 0; box-shadow: 0 0 20px rgba(255,255,255,0.8) inset; }
a.donateBanner:hover span { opacity: 1; }
a.donateBanner:active span { opacity: 0; }

.galleryBox { width: 298px; overflow: hidden; margin: 0 auto; }
.galleryBox > div { width: 298px; display: table; }
.galleryBox a, .galleryBox a div, .galleryBox a img { width: 74px; height: 74px; }
.galleryBox a { border: 2px solid #fff; background: #160b1c; display: block; position: relative; float: left; padding: 2px; margin: 0 0 0 -10px; border-radius: 41px; overflow: hidden; }
.galleryBox a:first-child { margin: 0; }
.galleryBox a div { border-radius: 41px; position: absolute; top: 1px; left: 1px; transition: border-color 0.3s, background 0.3s, box-shadow 0.3s; }
.galleryBox a img { border-radius: 41px; }
.galleryBox a span { display: block; width: 46px; height: 46px; position: absolute; left: 16px; top: 16px; background: transparent url('../imgs/nm/play.png') no-repeat; }
.galleryBox a:hover { border-color: #b90000; }
.galleryBox a:hover div { box-shadow: 0 0 10px rgba(192,4,4,0.6) inset; }

.fullGallery { width: 485px; overflow: hidden; margin: 0 auto; padding: 20px 0 0 0; } .fullGallery > div { width: 500px; display: table; } .fullGallery a, .fullGallery a div, .fullGallery a img { width: 88px; height: 88px; } .fullGallery a { border: 1px solid rgba(0,0,0,0.4); background: rgba(255,255,255,0.2); display: block; position: relative; float: left; padding: 1px; margin: 0 5px 5px 0; border-radius: 7px; overflow: hidden; } .fullGallery a div { border-radius: 5px; position: absolute; top: 1px; left: 1px; transition: border-color 0.3s, background 0.3s, box-shadow 0.3s; } .fullGallery a img { border-radius: 5px; } .fullGallery a span { display: block; width: 46px; height: 46px; position: absolute; left: 23px; top: 23px; background: transparent url('../imgs/nm/play2.png') no-repeat; border-radius: 5px; } .fullGallery a:hover { border-color: rgba(0,0,0,0.7); background: rgba(255,255,255,0.4); } .fullGallery a:hover div { box-shadow: 0 0 10px rgba(255,255,255,0.6) inset; } 

#modal { position: fixed; z-index: 2000; top:0; left: 0; padding: 20px 0 0 0; width: 460px; height: 250px; left:calc(50% - 233px);top:calc(50% - 128px); text-align: center; border: 3px solid #6c6c6e; border-radius: 10px; box-shadow: 0 0 25px rgba(0,0,0,0.5); } #modal h1 { text-align:center; width: 100%; margin:16px 0 20px 0; font-size: 23px !important; }
#modal { color: #000; background: #fff; }

.faceIndex { border: 2px solid rgba(0,0,0,0.4); }

.paginate { display: table; margin: 30px auto; } .paginate a { display: block; padding: 5px 8px; font-weight: bold; box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset; float: left; margin: 0 1px 0 0; border-radius: 3px; } .paginate a.atual, .paginate a.desatived { cursor: default; box-shadow: none; } .paginate a { background: rgba(0,0,0,0.7); border: 1px solid rgba(0,0,0,0.7); color: rgba(255,255,255,0.7) !important; } .paginate a:hover { background: rgba(0,0,0,0.9) !important; border-color: rgba(0,0,0,0.9) !important; color: #fff !important; } .paginate a:active, .paginate a.atual { background: #000 !important; border-color: #000 !important; color: #fff !important; } .paginate a:active { opacity: 0.5; } .paginate a.desatived { background: rgba(0,0,0,0.1) !important; border-color: rgba(0,0,0,0.1) !important; color: rgba(0,0,0,0.3) !important; }

table.default { border-radius: 4px; box-shadow: 0 0 5px rgba(0,0,0,0.3); width: 100%; background: 0; overflow: hidden; } table.default tr td:first-child { border: 0; } table.default tr td { font-size: 12px; padding: 6px 8px; border-left: 1px solid rgba(0,0,0,0.1); background: rgba(0,0,0,0.1); } table.default tr.two td { background: #fff; } table.default tr td.foco { font-weight: bold; color: #000; background: rgba(0,0,0,0.2); } table.default tr.two td.foco { background: rgba(0,0,0,0.1); } table.default tr th { font-weight: bold; text-align: center; background: rgba(0,0,0,0.8); color: #fff; padding: 10px 0; } table.default tr.ctype2, table.default tr.ctype2 td { padding: 0; margin: 0; height: 2px; background: rgba(0,0,0,0.1); } table.default .pos { width: 25px; text-align: center; }

.horMenu { display: table; margin: 20px auto; } .horMenu a { float: left; padding: 10px 15px; border-bottom: 2px solid rgba(0,0,0,0.5); margin: 0 0 0 10px; text-transform: uppercase; font-size: 12px; color: rgba(0,0,0,0.6) !important; } .horMenu a:first-child { margin: 0; } .horMenu a:hover { border-color: rgba(0,0,0,0.9) !important; } .horMenu a.act { cursor: default; border-color: #000 !important; color: #000 !important; text-shadow: 0 0 5px rgba(255,255,255,0.6); } .horMenu a:active { opacity: 0.6; }

.rulesbox { height: 260px; box-sizing: border-box; overflow: auto; margin: 0 auto 20px; padding: 20px; width: calc(100% - 20px); border: 2px solid rgba(0,0,0,0.2); background: rgba(0,0,0,0.1); } .rulesbox h1 { padding-top: 0; width: auto; height: auto; margin: 0; padding: 0 0 20px 20px; font-size: 20px; }

.formpadrao, .formpadrao > div, .formpadrao .camp input, .formpadrao .camp select { border-radius: 3px; } .formpadrao { display: table; margin: 0 auto 2px auto; padding: 2px; } .formpadrao > div { display: table; } .formpadrao .desc { width: 140px; padding: 0 10px; font-weight: bold; text-align: right; } .formpadrao .desc, .formpadrao .camp, .formpadrao .camp2 { float: left; height: 40px; line-height: 40px; } .formpadrao .camp input[type="text"], .formpadrao .camp input[type="password"], .formpadrao .camp input[type="file"] { border: 0; width: 200px; margin: 5px 5px 0 0; height: 30px; line-height: 30px; padding: 0 5px; box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset; } .formpadrao .camp select { border: 0; width: 210px; margin: 5px 5px 0 0; padding: 6px 5px 5px; box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset; } .formpadrao textarea { border: 0; resize: vertical; height: 300px; width: 200px; margin: 0 4px 10px 0; padding: 5px; } .formpadrao.tdate .camp input { text-align: center; padding: 0 9px; } .formpadrao.errorc, .formpadrao.errorc .desc, .formpadrao.errorc .camp { border-color: #c70000; } .formpadrao.errorc > div { background: #c70000; } .formpadrao.errorc .desc { color: #fff; } .formpadrao { border: 1px solid rgba(0,0,0,0.7); } .formpadrao > div { background: rgba(0,0,0,0.7); } .formpadrao .desc { color: #fff; } .formpadrao .camp input[type="text"], .formpadrao .camp input[type="password"], .formpadrao .camp input[type="file"], .formpadrao .camp select, .formpadrao textarea { background: #fff; } .formpadrao .camp input[type="text"]:focus, .formpadrao .camp input[type="password"]:focus, .formpadrao .camp select:hover, .formpadrao textarea:focus { background: #fffbd5; }

label.captcha { position: relative; } label.captcha img.captchaImage { position: absolute; left: 8px; top: 3px; opacity: 0.8; border-radius: 3px; } label.captcha a { position: absolute; right: 12px; top: 12px; } label.captcha a, label.captcha a img { width: 23px; height: 23px; } label.captcha a:hover { opacity: 0.7; } label.captcha a:active { opacity: 1; }

.castled { width: 400px; margin: 0 auto; } .castled, .castled > div { display: table; } .castled .ct { font-size: 16px; font-weight: bold; padding: 10px 0 10px 30px; } .castled .imgc { width: 200px; height: 113px; border: 1px solid rgba(0,0,0,0.4); float: left; border-radius: 6px; } .castled .imgc span { display: block; width: 200px; height: 113px; background: rgba(0,0,0,0.6) url('../imgs/nm/castles.jpg') no-repeat; border-radius: 5px; } .castled .ci { float: left; width: 188px; padding: 2px 0 0 10px; } .castled .ci .co { font-weight: bold; } .castled .ci .cc { margin-bottom: 8px; } .castled .nwar { padding: 5px 0 10px 0; } .castled .imgc.aden span { background-position: left top; } .castled .imgc.goddard span { background-position: -200px top; } .castled .imgc.giran span { background-position: -400px top; } .castled .imgc.oren span { background-position: -600px top; } .castled .imgc.dion span { background-position: -800px top; } .castled .imgc.gludio span { background-position: -1000px top; } .castled .imgc.innadril span { background-position: -1200px top; } .castled .imgc.rune span { background-position: -1400px top; } .castled .imgc.schuttgart span { background-position: -1600px top; }

.rankings_options { cursor: pointer; transition: background 0.5s, border-color 0.5s, color 0.5s; position: absolute; top: 20px; right: 28px; background: #f5f5f5; border: 1px solid rgba(0,0,0,0.2); height: 34px; line-height: 34px; padding: 0 26px 0 10px; border-radius: 5px; text-transform: uppercase; font-size: 12px; font-weight: bold; color: rgba(0,0,0,0.6); }
.rankings_options .rankings_arrow { transition: opacity 0.5s; position: absolute; top: 15px; right: 10px; Display: block; width: 10px; height: 6px; background: transparent url('../imgs/nm/rankings_arrow.png') no-repeat; opacity: 0.6; }
.rankings_options:hover { background: rgba(0,0,0,0.2); border-color: rgba(0,0,0,4); color: rgba(0,0,0,0.8); }
.rankings_options:hover .rankings_arrow { opacity: 0.8; }
.rankings_options > div { opacity: 0; transition: opacity 0.5s; width: 0px; height: 0px; overflow: hidden; position: absolute; top: 35px; right: 0; border-radius: 6px; box-shadow: 5px 5px 5px rgba(0,0,0,0.2); }
.rankings_options > div a { line-height: normal; width: 150px !important; font-size: 10px !important; padding: 5px 0 !important; }
.rankings_options:hover > div { width: auto !important; height: auto !important; opacity: 1; padding: 10px; background: #f5f5f5; border: 1px solid #dddddd; border-right: 0; border-bottom: 0; }

footer { width: 1200px; box-sizing: border-box; padding: 20px 0 0 0; margin: 0 auto; position: relative; }
footer hr { background: transparent url('../imgs/footer_separator.png') no-repeat center center; height: 25px; }
footer .l { float: left; width: 530px; }
footer .r { float: right; width: 663px; }

footer .vote { position: relative; float: left; height: 90px; padding: 30px 0 0 30px; margin: 0 0 10px 0; }
footer .vote > span { position: absolute; left: -13px; top: 6px; width: 141px; height: 33px; background: transparent url('../imgs/vote_tag.png') no-repeat;
-ms-transform: rotate(-30deg); /* IE 9 */
-webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
transform: rotate(-30deg);
}
footer .vote > a { float: left; display: block; margin: 0 20px 20px 0; }
footer .vote > a, footer .vote > a img { width: 90px; height: 60px; }
footer .vote > a:hover { opacity: 0.7; }

footer .linksPanel { padding: 40px 0 0 0; display: table; float:right; margin: 0 40px 0 0; box-sizing: border-box; height: 289px; }
footer .linksPanel > div { box-sizing: border-box; float: left; border: 0; border-right: 1px solid #000; border-left: 1px solid #291e2d; padding: 7px 30px; height: 194px; }
footer .linksPanel > div > div { color: #fff; text-transform: uppercase; font-size: 15px; font-weight: bold; margin: 0 0 16px; }
footer .linksPanel > div > a { display: table; font-size: 13px; margin: 0 0 4px 0; }

.copyright { font-weight: bold; color: #fff; font-size: 14px; text-align: center; display: table; width: 100%; height:108px; line-height:108px; }
.copyright > div { width: 1000px; position: relative; margin: 0 auto; }
.copyright a.atualstudio { position: absolute; top: 47px; right: 30px; opacity: 0.5; display: block; width: 120px; height: 18px; background: transparent url('../imgs/nm/atualstudio.png'); }
.copyright a.atualstudio:hover { opacity: 1; }

.copyright a.interlude2 { position: absolute; top: 47px; left: 30px; opacity: 0.5; display: block; width: 125px; height: 60px; background: transparent url('../imgs/nm/interlude.png'); }
.copyright a.interlude2:hover { opacity: 1; }

.footer-logos { no-repeat center bottom;width:973px;height:155px;margin:154px auto 8px auto;font-weight:normal;font-family:Arial, sans-serif;text-shadow:0 1px 0 #000;text-transform:uppercase;text-align:center;position:relative;}
.footer-logos h1 {font-size:10px;color:#fff;}
.footer-logos h2 {font-size:9px;color:#d9d7d7;}
.footer-logos a {font-size:10px;color:#fff;text-decoration:none;}
.footer-logos a:hover {color:#fff;text-decoration:underline;}
.footer-logos a:active {color:#fff;text-decoration:none;}

.footer1 {background:url('../images/footer.png') no-repeat center bottom;height:389px;z-index:-9;margin-top:-389px;}

